<%- include ('../../partials/header')  %>
<%- include ('../../partials/mensaje')  %>

<!-- Mensaje de la validacion de campos con javascript en el navegador -->
<div id="mensaje"></div>

<script type="application/javascript" src="../javascript/RF2/funcionesApiario.js"></script>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3> Registro de Apiario </h3>
            </div>
            <div class="card-body">
                <form action="/apiarios/registrarApiario" method="POST" id="formaApiario">
                    <div class="form-group row">
                        <label for="region" class="col-md-2 col-form-label"><b>Región:</b></label>
                        <div class="col-md-10">
                            <select class="custom-select" name="region" id="region" required>
                                <option value="0" selected>Región</option>
                                <% if (regiones) { %>
                                    <% regiones.forEach(function(Regiones) { %>
                                <option value = "<%= Regiones.ID_region %>"><%= Regiones.Ordinal + " - " + Regiones.Nombre %></option>
                                <% }); %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="comuna" class="col-md-2 col-form-label"><b>Comuna:</b></label>
                        <div class="col-md-10">                        
                            <select class="custom-select" name="comuna" id="comuna" required disabled>
                                <option value="0" selected>Comuna</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="calle" class="col-md-2 col-form-label"><b>Calle:</b></label>
                        <div class="col-md-10">  
                            <input type="text" name="calle" class="form-control" placeholder="Calle" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="numero" class="col-md-2 col-form-label"><b>Numero:</b></label>
                        <div class="col-md-10">  
                            <input type="number" name="numero" class="form-control" placeholder="Numero" required>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="col-md-10"></div> 
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-primary" id="botonSubmit" value="Registrar Apiario" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include ('../../partials/footer')  %>